.grid-view {
  display: flex;
  margin-top: 6%;
  flex-wrap: wrap;

  .movie {
    flex: 1;
    height: 500px;
    cursor: pointer;

    img {
      height: 65%;
    }

    .movieDetails {
      label {
        font-weight: 600;
      }
    }
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 3px;
  width: 100%;
  display: flex;

  .pagination {
    display: inline-block;
    margin: 0 auto;
  }

  .pagination a {
    color: black;
    align-items: center;
    padding: 8px 16px;
    text-decoration: none;
  }

  .pagination a.active {
    background-color: yellowgreen;
    color: white;
  }

  .pagination a:hover:not(.active) {
    background-color: #ddd;
  }
}

// .footer {
//     position: fixed;
//     left: 0;
//     bottom: 3px;
//     width: 100%;
//     color: white;
//     display: flex;
//     button:nth-child(1) {
//       float: left;
//     }
//     button:nth-child(2) {
//       float: right;
//     }
//  }
