<nav class="navbar navbar-expand-sm bg-light justify-content-center">
  <ul class="navbar-nav">
    <li>
      <label>Title :</label>
      <input matTooltip="Enter the Search Term" [(ngModel)]="appModalData.searchTitle" type="text" name="searchTitle"
        placeholder="Enter the movie title" required />
    </li>&nbsp;&nbsp;
    <li>
      <label>Year :</label>
      <input matTooltip="Enter the Search Term" [(ngModel)]="appModalData.searchYear" type="text" name="searchYear"
        placeholder="Enter the Year" />
    </li>&nbsp;&nbsp;
    <li>
      <label>Plot :</label>
      <input matTooltip="Enter the Search Term" [(ngModel)]="appModalData.searchPlot" type="text" name="searchPlot"
        placeholder="Enter the Plot Short or Full" /> &nbsp;
    </li>&nbsp;&nbsp;
    <button mat-raised-button class="btn btn-success" [disabled]="!appModalData.searchTitle"
      (click)='search()'>Search</button>
    &nbsp;
    <button mat-raised-button class="btn">Reset</button>
  </ul>
</nav>
<app-search-result></app-search-result>
